$about-width: 80vw;
.app-about{
    position: absolute;
    width: $about-width;
    max-width: 700px;
    border: 1px solid var(--panel-border);
    box-shadow: 0 0 2px var(--panel-shadow);
    left: 50%;
    transform: translateX(-50%) translateY(calc(-100% - 1.5rem - 5px));
    background: var(--panel-bg);
    padding: 1.5rem;
    z-index: 10;
    max-height: 80vh;
    overflow: auto;
    transition:transform 0.3s ease-in-out;

    &.is-show{
        transform: translateX(-50%) translateY(0);
    }
}


.app-about h2{
    margin: 0;
}

.app-about-close{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.app-about-content{
    margin-top: 0;
    font-size: 0.8rem;

    * + *{
        margin: 0;
    }

    p, ul {
        margin-top: 1rem;
    }
}

.about-shortcut{
    font-size: 0.8rem;

    > ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        flex-wrap: wrap;
        align-items: flex-start;
        margin: 0;
        padding: 0;
        font-weight: bold;

        > li {
            margin: 0;
            width: 50%;

            > ul {
                list-style: none;
                padding: 0;
                margin-top: 0.3rem;
                margin-bottom: 1.5rem;
                font-weight: normal;

                > li {
                    margin-top: 0;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}

.about-tabs{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--tab-border);
    margin-top: 0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
.about-tab{
    margin: 0;
    font-size: 0.8rem;
    padding: 1rem 0.5rem;
    cursor: pointer;

    &.is-selected{
        border-bottom: 3px solid var(--tab-border);
        padding-bottom: calc(1rem - 2px);
    }
}
.about-settings{
    font-size: 1rem;
}
.about-setting-item{
    display: flex;
    align-items: flex-start;
}
.about-setting-label{
    flex: 0.5;
    text-align: right;
}
.about-setting-item > * {
    margin-top: 0;
}
.about-setting-item > *:not(:last-child){
    margin-right: 1rem;
}
.about-setting-input-wrap{
    flex: 1;
}
.about-setting-input{
    border: none;
    border-bottom: 1px solid var(--input-border);
    font-size: 1rem;
    width: 100%;
    background: transparent;
    color: var(--input-color);
}
.about-setting-note{
    margin: 0;
    color: var(--state-color);
    font-size: 0.8rem;

    p { margin: 0; }
}

.input-boxes{
    display: flex;
    align-items: flex-start;

    > * {
        margin-top: 0;
        margin-right: 1rem;
        text-align: center;
        border: 1px solid var(--input-border);
        cursor: pointer;

        &.is-selected{
            border: 1px solid var(--state-selected-border);
        }
    }
}
.font-size-box{
    width: 50px;
    height: 50px;
    line-height: 50px;
}
.about-setting-font-size-small{
    font-size: 12px;
}
.about-setting-font-size-medium{
    font-size: 16px;
}
.about-setting-font-size-large{
    font-size: 18px;
}

.theme-box{
    padding: 0 1rem;
    height: 50px;
    line-height: 50px;
    margin: 0.3rem;
}

.about-key{
    display: inline-block;
    border: 1px solid var(--input-border);
    padding: 0.1rem 0.4rem;
    margin: 0;
    min-width: 1.5rem;
    text-align: center;
    font-weight: normal;
}
