.add-feed{
    margin-top: 0;
    font-size: 1rem;
    width: 100%;
    max-width: 750px;
}

.add-feed-state{
    margin-top: 0;
    height: 1rem;
    color: var(--state-color);
    font-size: .75rem;
    margin-bottom: .5rem;
}

