

.add-panel{
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px #BBB;
    width: 80vw;
    // height: 7rem;
    padding: 1rem;
    margin-top: 1rem;
    top: 0;
    left: 50%;
    z-index: 10;
    transform: translateY(calc(-100% - 1rem - 5px)) translateX(-50%);
    transition:all 0.3s ease-in-out;
    max-width: 700px;
}

.add-panel.is-show{
    transform: translateY(0) translateX(-50%);
}

.add-close{
    float: right;
}

.add-feed{
    margin-top: 0;
    font-size: 1.8rem;
    width: 100%;
    max-width: 750px;
    /*border: 1px solid #ccc;*/
    border: none;
    border-bottom: 1px solid #ccc;
    color: #333;
}

.add-feed-state{
    margin-top: 0;
    height: 1rem;
}

.app-status{
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    // top: 1.5rem;
    // right: 1rem;
    color: #CCC;
    font-size: 0.5rem;
}
