
* {
    box-sizing: border-box;
}

* + *{
    margin-top: 1.5em;
}

html{
    font-size: 18px;
}

body {
  margin: 0;
  font-family:  Pingfang SC,Lantinghei SC,Microsoft YaHei New,Microsoft Yahei,\\5FAE软雅黑,arial,sans-serif;
  color: #333;
}

.app-wrap{
    // max-width: 850px;
    // margin: 0 auto;
}

.wrap{
    /*padding: 5px;*/
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 0;
}

@media (max-width:1024px){
    wrap >* {
        padding : 0;
    }
}

@media (min-width:1025px){
    .wrap > *{
        padding: calc(( 100% - 1024px ) / 2);
    }

}


.top-bar{
    position: relative;
}

.top-bar-outset-btn{
    margin-left: -0.5rem;
    margin-right: 0.5rem;
}
