
* {
    box-sizing: border-box;
}

* + *{
    margin-top: 1.5em;
}

html{ font-size: 16px; }

body {
  margin: 0;
  font-family:  Pingfang SC,Lantinghei SC,Microsoft YaHei New,Microsoft Yahei,\\5FAE软雅黑,arial,sans-serif;
}

*:focus{
    outline: none;
}

.app-wrap{
    color: var(--body-color);
    background: var(--body-bg);

    a{
        color: var(--link-color);
    }
}

.wrap{
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 0;
    overflow-y: hidden;
}

@media (max-width:1024px){
    wrap >* {
        padding : 0;
    }
}

@media (min-width:1025px){
    .wrap > *{
        padding: 0  calc(( 100% - 1024px ) / 2);
    }

}


.top-bar{
    position: relative;
    display: flex;
    align-items: center;
    padding: 1rem 0rem 0.5rem 0.6rem;

    .feed-header{
        flex: 1;
        overflow: hidden;
    }

    > * {
        margin-top: 0;
    }

}

.top-bar-outset-btn{
    margin-left: -0.5rem;
    margin-right: 0.5rem;
}


.top-left-bar{
    display: flex;
    align-items: center;

    > *{
        margin-top: 0;
        margin-left: 1rem;
    }

    > .btn{
        min-width: 2rem;
    }
}

.queued-btn.btn{
    height: 2rem;
    padding: 0.5rem;
    position: relative;

    &.is-selected{
        background-color: var(--body-color);

        > *{
            --body-color: var(--body-bg);
            --icon-color: var(--body-bg);
        }
    }
}

.queued-count{
    color: var(--body-color);
    position: absolute;
    bottom: 1px;
    right: 1px;
    font-size: 0.6rem;
}
