
* {
    box-sizing: border-box;
}

* + *{
    margin-top: 1.8em;
}

*{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

input,textarea{
    user-select: auto;
    -moz-user-select: auto;
    -webkit-user-select: auto;
    -ms-user-select: auto;
}

::selection{
    background: var(--body-color);
    color: var(--body-bg);
}
::-moz-selection{
    background: var(--body-color);
    color: var(--body-bg);
}

html{ font-size: 16px; }

body {
  margin: 0;
  // font-family:  Pingfang SC,Lantinghei SC,Microsoft YaHei New,Microsoft Yahei,\\5FAE软雅黑,arial,sans-serif;
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei","微軟雅黑", STXihei, "華文細黑", sans-serif;
}

*:focus{
    outline: none;
}

.app-wrap{
    color: var(--body-color);
    background: var(--body-bg);

    a{
        color: var(--link-color);
    }
}

.wrap{
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 0;
    overflow-y: hidden;
}

@media (max-width:1024px){
    wrap >* {
        padding : 0;
    }
}

@media (min-width:1025px){
    .wrap > *{
        padding: 0  calc(( 100% - 1024px ) / 2);
    }

}


.top-bar{
    position: relative;
    display: flex;
    align-items: baseline;
    padding: 1rem 0rem 0.5rem 0.6rem;

    @include tablet{
        align-items: center;
    }

    .feed-header{
        flex: 1;
        overflow: hidden;
    }

    > * {
        margin-top: 0;
    }

}

.top-bar-outset-btn{
    margin-left: -0.5rem;
    margin-right: 0.5rem;
}

// .top-bar-left{
//     min-width: 1rem;
// }

.top-left-bar{
    display: flex;
    align-items: center;

    > *{
        margin-top: 0;
        margin-left: 0.5rem;
    }

    > .btn{
        min-width: 2rem;
    }
}

.queued-btn.btn{
    height: 2rem;
    padding: 0.5rem;
    position: relative;
    --bg-color: var(--body-bg);

    &.is-selected{
        background-color: var(--body-color);
        --bg-color: var(--body-color);

        > *{
            --body-color: var(--body-bg);
            --icon-color: var(--body-bg);
        }
    }
}

.queued-count{
    color: var(--body-color);
    position: absolute;
    bottom: 1px;
    right: 1px;
    font-size: 0.6rem;
    background: var(--bg-color);
    border-radius: .5rem;
    box-shadow: 0 0 0.1rem var(--bg-color);
}

