
.btn{
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    display: inline-block;
    border-radius: 3px;
    font-size: 100%;
}

.btn::-moz-focus-inner{
    border: 0;
}

.btn:focus{
    outline: none;
}

.btn img{
    height: 100%;
    vertical-align: middle;
}

.btn-icon{
    height: 1rem;
    min-wdith: 1rem;
}

.btn-text{
    color: var(--button-color);
    background: var(--button-bg);
    padding-left: 3px;
    padding-right: 3px;
}

svg{
    fill: var(--icon-color);
}

svg.feather{
    fill: none;
    color: var(--icon-color);
    stroke-width: 4;
}

svg.feather.feather-thin{
    stroke-width: 2;
}

svg, img[src$=svg]{
    height: 100%;
    vertical-align: top;
}

.btn.is-active{
    background: var(--button-active-bg);
    color: var(--button-active-color);
}
