
.btn{
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    // height: 1rem;
    display: inline-block;
    color: #666;
    border-radius: 3px;
    font-size: 100%;
}

.btn::-moz-focus-inner{
    border: 0;
}

.btn:focus{
    outline: none;
}

.btn img{
    height: 100%;
    vertical-align: middle;
}

.btn-icon{
    height: 1rem;
}

.btn-text{
    color: #666;
    background: #DFF;
    padding-left: 3px;
    padding-right: 3px;
}

img[src$=svg]{
    height: 100%;
    vertical-align: top;
}

.btn.is-active{
    background: #333;
    color: #CCC;
}
