
.feed{
    list-style: none;
    padding: 0;
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto;
}

.feed > li{
    margin-top: 0;
}


.feed-header{
    display: flex;
    white-space: nowrap;
    // padding: 1rem 0.5rem 0 0.5rem;
    align-items: center;
    position: relative;
}

.feed-header > * {
    margin-top: 0;
}

.feed-empty{
    color: var(--state-empty-color);
}


.feed-title{
    font-weight: bold;
    margin-right: 1rem;
    font-size: 1.5rem;
    overflow: hidden;
    // max-width: calc(100% - 10rem);
    text-overflow: ellipsis;
}

.feed-filter{
    margin: 0.5rem;
    padding-left: 1rem;
}

.feed-filter > .btn{
    margin: 0 0.5rem  0 0;
}

.feed-state{
    height: 1rem;
    margin-left: 5px;
    display: flex;
}

.feed-state-error{
    color: rgba(255, 0, 0, 0.4);
}


// .feed-control{
//     display: none;
// }
//
// .feed-header:hover .feed-control{
//     display: inline-block;;
// }

.feed-control.is-show{
    display: inline-block;
}

.feed-confirm-delete{
    margin: 0;
    margin-left: 1rem;
}


.confirm-delete{
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

.confirm-delete > *{
    margin-top: 0;
}

.confirm-delete .btn{
    margin-left: 0.5rem;
}

.feed-show-more{
    margin: 0 0 2rem 2rem;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.item-list-wrap{
    flex: 1;
    overflow: auto;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    position: relative;
}

.item-empty{
    padding-left: 1.5rem;
    margin-top: .5rem;
    color: var(--state-empty-color);
}

.item-sort{
    position: relative;
    top: -1.5rem;
    margin: 0;
    height: 0;
    font-size: 0.8rem;
    color: var(--control-color);

    span {
        display: block;
        float: right;
        margin-right: 1rem;
        cursor: pointer;
    }
}


.item-list{
    margin: 0;
    list-style: none;
    padding: 0;
    padding-bottom: 1rem;
}

.item{
    position: relative;
    margin: 0;
    padding: 0 0.5rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 2.5rem;
    border: 1px solid transparent;
}


.item.is-unplayed:not(.is-error) .item-title{
    font-weight: bold;
}

.item.is-played{
    color: var(--state-played-color);
    //opacity: 0.5;

    .btn-icon svg{
        fill: var(--state-played-color);
    }

}

.item.is-selected:not(.item-more){
    background: var(--state-selected-bg);
    // border: 1px solid var(--state-selected-border);
}

.item:not(.is-current):not(.is-error) .item-state{
    visibility: hidden;
}

.item.is-selected:not(.is-current) .item-state{
    visibility: visible;
}

.item > * {
    margin-top: 0;
    margin-right: 1rem;
}

.item > *:last-child{
    margin-right: 0;
}

.is-current{
    background: var(--state-current-bg);
}

.item-state{
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    text-align: center;
}

.item-control{
    // display: none;
    //visibility: hidden;
    display: flex;
    align-items: center;
}

.item-control .btn{
    margin-top: 0;
}

.item-progress{
    min-width: 3.5rem;
    text-align: right;
}

.item-desp{
    min-height: 1.5rem;
    margin: top;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    // text-overflow: ellipsis;
}

.item-date{
    text-align: right;
    min-width : 4rem;
}

.item-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1rem;
    position: relative;
    display: inline;
}

.item-description-text{
    display: inline;
    margin-top: 0;
    color: var(--body-sub-color);
    overflow: hidden;
    white-space: nowrap;
    font-size: 0.8rem;

    .is-played &{
        color: var(--state-played-color);
    }
}

.item-feed-title{
    width: 8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}



.item-feed-title:hover{
    text-decoration: underline;
}

.feed-more-btn{
    position: relative;
    display: inline-block;
    margin: 0;

    .btn{
        height: 1rem;
    }
}


.feed-more-panel{
    white-space: nowrap;
}

.feed-confirm-delete{
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    > * {
        margin-top: 0;
    }
}
.confirm-delete-btn.confirm-delete-btn{
    color: red;
    margin-left: 0;
}

.feed-status{
    margin: 0;
    margin-left: 0.5rem;
    color: var(--state-color);
    font-size: 0.8rem;
}

.item-reorder > * {
    margin-top: 0rem;
    margin-left: 0.5rem;
}

.item-queued{
    font-size: 0.5rem;
    font-color: var(--button-color);
    background: var(--button-bg);
    text-transform: uppercase;
    display: inline-block;
    padding: 0.1rem 0.2rem;
}

.feed-header-title{
    height: 2rem;
    position: relative;

    .input-feed-title{
        font-size: 1.5rem;
        position: absolute;
        left: 0;
        display:none;
        width: 100%;
        font-weight: bold;
        font-family: inherit;
        padding: 0;
    }

    &.is-editing{
        .input-feed-title{
            display:block;
        }

        .feed-title{
            opacity: 0.1;
            white-space: pre;
        }
    }

}
