.goto-panel{
}

.goto-feed{
    font-size: 1.8rem;
    width: 100%;
    max-width: 750px;
}

.goto-items{
    margin: 0;
    padding: 0;
    margin-top: .5rem;
}

.goto-item{
    display: block;
    margin: 0;
    padding: 0.5rem;

    &:hover{
        background: var(--state-hover-bg);
    }
}

.goto-item.selected{
    background-color: var(--state-selected-bg);
}
