.input-text{
    border: none;
    border-bottom: 1px solid var(--input-border);
    color: var(--input-color);
    background: transparent;
    width: 100%;

    &[disabled]{
        opacity: 0.3;
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder{
        color: var(--input-color);
    }
}

.field-label{
    margin-bottom: 1rem;
    color: var(--label-color);
}
