
.theme-light{
    --body-bg: #FFF;
    --body-color: #333;
    --link-color: #666;
    --button-color: #666;
    --button-bg: #EFEFEF;
    --button-active-color: #CCC;
    --button-active-bg: #333;
    --icon-color: #333;
    --panel-bg: #FFF;
    --panel-shadow: #BBB;
    --panel-border: #CCC;
    --input-bg: #FFF;
    --input-border: #CCC;
    --input-color: #333;
    --state-color: #666;
    --state-empty-color: #CCC;
    --state-played-color: #CCC;
    --state-selected-bg: #DDD;
    --state-selected-border: #333;
    --state-current-bg: #F5F5F5;
    --control-color: #AAA;
    --tab-border: #CCC;
    --tab-selected-border: #AAA;
    --thumb-color: #000000;
    --track-color: #CCC;
}
