* {
    box-sizing: border-box;
}

* + *{
    margin-top: 1.5em;
}

html{
    font-size: 14px;
}

body {
  margin: 0;
  font-family:  Pingfang SC,Lantinghei SC,Microsoft YaHei New,Microsoft Yahei,\\5FAE软雅黑,arial,sans-serif;
}

.wrap{
    padding: 5px;
}

.add-feed{
    font-size: 1.2rem;
    width: 100%;
    border: 1px solid #ccc;
    color: #333;
}

.feed{
    list-style: none;
    padding: 0;
}


.feed-title{
    font-weight: bold;
    display: flex;
    white-space: nowrap;
}

.feed-title:after{
    border-top: 1px solid #ccc;
    content: '';
    flex: 1;
    position: relative;
    margin-left: 5px;
    transform: translateY(50%);
}

.feed-show-more{
    margin-left: 1rem;
    border: none;
    background: transparent;
    padding: 0;
    color: rgba(00, 00 , 255, 0.4);
    cursor: pointer;
}

.feed ul{
    list-style: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.item{
    /*margin-bottom: 0.5rem;*/
    position: relative;
}

.is-current:before{
    content: '';
    display: block;
    position: absolute;
    left: -0.6rem;
    top: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.5rem;
    background-color: #ccc;
}

.item-control{
    margin-right: 0.5rem;
}

.item-control-btn{
    border: none;
    background: #EEE;
    margin: 0;
    padding: 0 5px;
    cursor: pointer;
    width: 1.5rem;
    text-align: center;
}

.item-control-btn:hover{
    background-color: #CCC;
}

.item-control-btn img{
    height: 0.8rem;
}

.item-progress{
    margin-right: 1rem;
    color: #777;
}

.progress-bar{
    margin-top: 0;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: transparent;
}

.progress-bar-value{
    background: #EFEFEF;
    height: 100%;
}

.item-desp{
    display: flex;
    align-items: center;
    min-height: 1.5rem;
}

.item-desp > * {
    margin-top: 0;
}

.item-date{
    color: #777;
    text-align: right;
}

.item-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1rem;
    flex: 1;
    position: relative;
}
