* {
    box-sizing: border-box;
}

* + *{
    margin-top: 1.5em;
}

html{
    font-size: 13px;
}

body {
  margin: 0;
  font-family:  Pingfang SC,Lantinghei SC,Microsoft YaHei New,Microsoft Yahei,\\5FAE软雅黑,arial,sans-serif;
  color: #333;
}

.wrap{
    /*padding: 5px;*/
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 0;
}

.btn{
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    height: 1rem;
    display: inline-block;
}

.btn::-moz-focus-inner{
    border: 0;
}

.btn:focus{
    outline: none;
}

.btn img{
    height: 100%;
    vertical-align: top;
}

.btn-text{
    color: #777;
}

img[src$=svg]{
    height: 100%;
    vertical-align: top;
}

.top-control-bar{
    padding:5px;
}

.add-btn{
    font-size: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem;
}

.add-panel{
    position: absolute;
    background-color: white;
    box-shadow: 0 0 5px #BBB;
    width: 80vw;
    height: 7rem;
    padding: 1rem;
    margin-top: 1rem;
    top: 0;
    left: calc(50vw - 40vw);
    z-index: 10;
    transform: translateY(calc(-100% - 1rem - 5px));
    transition:all 0.3s ease-in-out;
}

.add-panel.is-show{
    transform: translateY(0);
}

.add-close{
    float: right;
}

.add-feed{
    margin-top: 0;
    font-size: 1.8rem;
    width: 100%;
    /*border: 1px solid #ccc;*/
    border: none;
    border-bottom: 1px solid #ccc;
    color: #333;
}

.add-feed-state{
    margin-top: 0;
    height: 1rem;
}

.feed{
    list-style: none;
    padding: 0;
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
    overflow: auto;
}

.feed > li{
    /*border: 1px solid #ccc;*/
    margin-top: 0;
}


.feed-header{
    display: flex;
    white-space: nowrap;
    padding: 1rem 0.5rem 0 0.5rem;
    align-items: center;
}

.feed-header > * {
    margin-top: 0;
}

.feed-title{
    font-weight: 600;
}

.feed-state{
    height: 1rem;
    margin-left: 5px;
}

.feed-state-error{
    color: rgba(255, 0, 0, 0.4);
}


.feed-control{
    display: none;
}

.feed-control.is-show{
    display: inline-block;
}

.feed-header:hover .feed-control{
    display: inline-block;;
}

.confirm-delete > *{
    margin-top: 0;
}

.loading {
    display: inline-block;
    overflow: hidden;
    height: 1.3rem;
    margin-top: -0.3rem;
    line-height: 1.5rem;
    vertical-align: text-bottom;
}
.loading::after {
    display: inline-table;
    white-space: pre;
    text-align: left;
    content: "\A.\A..\A...";
    animation: spin4 2s steps(4) infinite;
}
@keyframes spin4  { to { transform: translateY( -6.0rem); } }

.loading-circle{
    min-width: 1rem;
}


.feed-show-more{
    margin-left: 1.5rem;
    border: none;
    background: transparent;
    padding: 0;
    /*color: rgba(00, 00 , 255, 0.4);*/
    color: #777;
    cursor: pointer;
}

.feed-show-more:hover{
    background: #DDD;
}

.feed ul{
    list-style: none;
    padding: 0;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}


.item{
    position: relative;
    margin: 0;
    padding: 0.5rem;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.item.is-error{
    color: rgba(255, 0, 0, 0.4);
}

.item.is-unplayed{
    font-weight: bold;
}

.item:not(.is-current):not(.is-error) .item-state{
    visibility: hidden;
}

.item:not(.is-current):not(.item-more):hover{
    background: #DDD;
}

.item:not(.is-current):hover .item-state{
    visibility: visible;
}


.item > * {
    margin-top: 0;
    margin-right: 1rem;
}

.item > *:last-child{
    margin-right: 0;
}

.is-current{
    background: #F5F5F5;
}

.item-state{
    margin-right: 0.5rem;
    width: 1rem;
    height: 1rem;
    text-align: center;
}


.item-progress{
    min-width: 8rem;
    text-align: right;
    color: #333;
}

.progress-bar{
    margin-top: 0;
    border: none;
    width: 100%;
    height: 5px;
    background: #EEE;
    margin-right: 5px;
    cursor: pointer;
}

.progress-bar-value{
    background: #666;
    height: 100%;
    position: relative;
}


.progress-bar-value:after{
    content: '';
    display: block;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    position: absolute;
    right: -0.5rem;
    top: -0.225rem;
    z-index: 1;
    background: #666;
}

.item-desp{
    min-height: 1.5rem;
    margin: top;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-date{
    text-align: right;
    min-width : 5rem;
}

.item-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 1rem;
    flex: 1;
    position: relative;
}

.player-wrap{
    height: 0rem;
    /*margin: 0 -5px 0 -5px;*/
    margin-right: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 2px #ccc;
}

.player-wrap.is-show{
    height: 4rem;
}

.player{
    height: 4rem;
    /*margin-top: 5px;*/
    margin:0 5px 0 5px;
}

.player-control{
    margin-top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    /*border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;*/
}

.player-control > *{
    margin-top :0;
}

.player-buttons{
    width: 3rem;
    margin-top: 0.3rem;
}

.player-btn{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.3rem;
}

.player-btn img {
    width: 100%;
}

.player-rate{
    margin-top: 0.3rem;
    width: 3rem;
    text-align: center;
}
.player-rate .btn{
    height: 1.5rem;
}

.progress{
    flex: 1;
    height: 2.7rem;
    overflow: hidden;
    padding: 0 11px;
}

.player-progress{
    margin-left: 1rem;
    text-align: right;
    margin-top: 0.4rem;
    min-width: 9rem;
}

.player-close{
    margin-left: 5px;
    margin-top: 0.7rem;
}




.player-title{
    overflow: hidden;
    margin-bottom: 0.3rem;
}


.player-title-text{
    overflow: hidden;
    font-size: 0.85rem;
    color: #555;
    position: relative;
}

.marquee-text{
    position: relative;
    display: inline-block;
    width: auto;
    white-space: nowrap;
}

.marquee-text.is-playing{
    transform: translateX(-50%);
    left: 50%;
    animation: 20s linear infinite marquee;
}

@keyframes marquee{
    from {
        transform: translateX(0);
        left: 100%;
    }
    to {
        transform: translateX(-100%);
        left: 0%;
    }
}
